@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-semibold";
    src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: "inter";
    src: url(../fonts/Inter-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-Bold.woff2) format(woff2);
}

@font-face {
    font-family: "inter-semibold";
    src: url(../fonts/Inter-SemiBold.woff2) format(woff2);
}



:root {
    --orange: #ec9744; 
    --dark-gray: #333333;
}

html {
    scroll-behavior: smooth;
}