@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "poppins-semibold";
    src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
}

:root {
    --orange: #ec9744; 
    --dark-gray: #333333;
}

html {
    scroll-behavior: smooth;
}